*{
    padding: 0;
    margin: 0;
    
}

 .container{
    font-weight: bold;
    text-align: center;
    background-color: aqua;
    height: 100vh;
   font-family: 'Times New Roman', Times, serif;
  
}
.container h1{
    margin-bottom: 6%;
    padding: 10px;
}
.form-cont{
    display: flex;
    justify-content: center;
    height: 300px;
   
}
.form{
    background-color:rgb(219, 202, 202);
    /* font-size: small; */
    width: 60%;
    /* display: flex; */
 

}
input{
    width: 50%;
   padding: 10px;
   margin: 10px;
   border: 20px;
   border-radius: 10px;
}
.form h2{
    background-color: rgb(98, 98, 245);
    height: 10%;
   }
